/* custom icons */
.ui-icon-money span.ui-icon { background-position: -792px 50% !important; }
.ui-icon-user span.ui-icon { background-position: -828px 50% !important; }




/* Login Page */
#loginPage { background: url(../img/bg-ticketmob.png) no-repeat top center; }
#loginForm { padding: 430px 70px 0 70px; }
#loginBtnContainer { margin-left: 22%; }
#loginBtnContainer .ui-btn-block { width: 79%; }





/* footer icons */
.ui-footer-fixed .ui-navbar .ui-btn-inner { height: 48px; padding-left: 48px; }
.ui-footer-fixed .ui-navbar .ui-icon { width: 48px; height: 48px; background-color: transparent; background: url(../img/TabBarIcons.png) no-repeat; }
.ui-footer-fixed .ui-navbar .ui-btn-icon-left .ui-btn-inner .ui-icon { margin: 0; top: auto; box-shadow: none; }
.ui-footer-fixed .ui-navbar .ui-icon-sell { background-position: -25px 4px; }
.ui-footer-fixed .ui-navbar .ui-icon-calendar { background-position: -126px 4px; }
.ui-footer-fixed .ui-navbar .ui-icon-navsearch { background-position: -226px 4px; }
.ui-footer-fixed .ui-navbar .ui-icon-report { background-position: -327px 4px; }
.ui-footer-fixed .ui-navbar .ui-icon-settings { background-position: -426px 4px; }
.ui-footer-fixed .ui-navbar .ui-btn-text { line-height: 48px; font-size: 18px; }






/* Show Overview */
#dashboardPageContent,
#calendarDayPageContent { padding: 15px 14px; }
div.showOverviewContainer { position: relative; height: 610px; width: 100%; overflow: hidden; overflow: auto; }
ul.showOverview { list-style: none; margin: 0; padding: 0; display: block; width: auto; height: 610px; position: absolute; top: 0; left: 0; }
ul.showOverview li.showHolder { width: 249px; float: left; overflow: hidden; }
ul.showOverview li.showHolder div.showContent { height: 560px; background: #e8e8e8; border-radius: 5px; box-shadow: 0 0 10px #d0d0d0 inset; padding: 15px; margin: 10px; }
ul.showOverview li.showHolder div.showContent div.header { position: relative; border-bottom: 1px dashed #aaa; padding-bottom: 5px; }
ul.showOverview li.showHolder div.showContent div.header span { display: block; }
ul.showOverview li.showHolder div.showContent div.header span.poster { width: 78px; height: 93px; padding: 1px; overflow: hidden; float: left; background: #9f9f9f; }
ul.showOverview li.showHolder div.showContent div.header span.poster img { width: 78px; }
ul.showOverview li.showHolder div.showContent div.header span.datetime { margin: 0 0 0 90px; height: 100px; }
ul.showOverview li.showHolder div.showContent div.header span.datetime span.date { font-size: 24px; color: #5e5e5e; font-weight: normal; text-transform: uppercase; }
ul.showOverview li.showHolder div.showContent div.header span.datetime span.time { font-size: 18px; color: #5e5e5e; font-weight: normal; text-transform: uppercase; }
ul.showOverview li.showHolder div.showContent div.header span.title { clear: left; font-weight: bold; color: #cb492f; font-size: 16px; height: 55px; line-height: 18px; overflow: hidden; }
ul.showOverview li.showHolder div.showContent div.tickets { overflow: auto; height: 358px; }
ul.showOverview li.showHolder div.showContent div.tickets ul.ticketList { list-style: none; margin: 0; padding: 0; display: block; width: 100%; }
ul.showOverview li.showHolder div.showContent div.tickets ul.ticketList li { display: block; }
ul.showOverview li.showHolder div.showContent div.tickets ul.ticketList li span.ticketinfo { display: block; padding: 0 10px 3px 10px; }
ul.showOverview li.showHolder div.showContent div.tickets ul.ticketList li span.ticketinfo span.ticketprice { display: block; float: left; width: 50%; font-weight: bold; }
ul.showOverview li.showHolder div.showContent div.tickets ul.ticketList li span.ticketinfo span.availabletickets { display: block; margin-left: 50%; text-align: right; }





/* Calendar */

#calendarBackBtn { display: none; }
#calendarPageContent .ui-bar { padding: 0; }
#calendarPageContent .ui-bar .ui-title { display: block; font-size: 20px; margin: 0.4em 30%; overflow: hidden; padding: 0; text-align: center; text-overflow: ellipsis; white-space: nowrap; }
#calendarPageContent .ui-bar .ui-btn-left { position: absolute; left: 0; top: 0; }
#calendarPageContent .ui-bar .ui-btn-right { position: absolute; right: 0; top: 0; }

table.showCalendar { width: 100%; border-bottom: 1px solid #ddd; }
table.showCalendar th, 
table.showCalendar td { width: 14%; }
table.showCalendar th.sunday, 
table.showCalendar th.saturday, 
table.showCalendar td.sunday,
table.showCalendar td.saturday { width: 16%; }
table.showCalendar thead { 
	background: #111111;
	background-image: -webkit-gradient(linear, left top, left bottom, from(   #3c3c3c   /*{a-bar-background-start}*/), to(   #111111   /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(   #3c3c3c   /*{a-bar-background-start}*/,   #111111   /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(   #3c3c3c   /*{a-bar-background-start}*/,   #111111   /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(   #3c3c3c   /*{a-bar-background-start}*/,   #111111   /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(   #3c3c3c   /*{a-bar-background-start}*/,   #111111   /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(   #3c3c3c   /*{a-bar-background-start}*/,   #111111   /*{a-bar-background-end}*/);
}
table.showCalendar th span { display: block; color: #fff; text-shadow: 0 -1px 1px #000000; font-weight: bold; font-size: 16px; padding: 10px 0; text-align: center; border-right: 1px solid #555; border-left: 1px solid #000; }
table.showCalendar th.sunday span { border-left: none; }
table.showCalendar th.saturday span { border-right: none; }
table.showCalendar td { height: 89px; }
table.showCalendar td span.daywrapper { border-right: 1px solid #fff; border-bottom: 1px solid #fff; border-left: 1px solid #ddd; border-top: 1px solid #ddd; display: block; height: 87px; }
table.showCalendar td.saturday span.daywrapper { border-right: 1px solid #ddd; }
table.showCalendar td.prevmonth span.daywrapper,
table.showCalendar td.nextmonth span.daywrapper { background: #ddd; border-left: 1px solid #ccc; border-bottom: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; }

table.showCalendar td span.dayHeader { 
	background:   			#eeeeee;
	color:   				#3E3E3E;
	text-shadow:   			0 1px 1px #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(   #f0f0f0   /*{c-bar-background-start}*/), to(   #dddddd   /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(   #f0f0f0   /*{c-bar-background-start}*/,   #dddddd   /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(   #f0f0f0   /*{c-bar-background-start}*/,   #dddddd   /*{c-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(   #f0f0f0   /*{c-bar-background-start}*/,   #dddddd   /*{c-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(   #f0f0f0   /*{c-bar-background-start}*/,   #dddddd   /*{c-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(   #f0f0f0   /*{c-bar-background-start}*/,   #dddddd   /*{c-bar-background-end}*/);
	display: block; font-size: 16px; text-transform: uppercase; padding: 5px 0; text-align: center;
}
table.showCalendar td.prevmonth span.dayHeader,
table.showCalendar td.nextmonth span.dayHeader { background: none; background-image: none; color: #999; }





/* Ticket Holders */
#ticketholdersPage .ui-header .ui-title { margin: 0.6em 11% 0.8em 11%; }
#ticketholdersPage .ui-li-heading { text-transform: capitalize; }


